*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
}
/*  Start Continer reules*/
.continer{
    width: 100%;
    height:100vh;
    display: flex;
    transition: 1.8s ease-in-out;
}
/*Start continer right side reules*/

.continer .right-side{
    flex-basis:50%;
    background-image: url("../Images/Tracé\ 54.svg");
    background-size: cover;
    position: relative;
   
}
.continer .right-side .menu{
    position: fixed;
    top:15px;
    right:30px;

}
.continer .right-side .menu button {
    font-size: 1rem;
    background-color: rgba(0,0,0,0.05);
    padding:10px 32px;
    border:1px  double #fff;
    color:#fff;
    cursor: pointer;
    margin-top: 1.2rem;
    position: relative;
    transition: all 0.35s ;
    outline:none;
    border-radius: 4px;
    margin-left:-110px;
    width: 130px;
    height: 40px;
    position: absolute;
    top:0px;
    right:15px;

}
.continer .right-side .menu button a{
    color:#fff;
    position: relative;
    z-index: 2;
    text-decoration: none;

}
.continer .right-side .menu  button:after{
    content: '';
    border-radius: 4px;
    background-image: linear-gradient(to left, #61d4f7 0%,rgba(0,0,0,0.05));
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    transition: all 0.35s;
    


}
.continer .right-side .menu button:hover:after{
    width:100%;
    color:#fff;
    
}
.continer .right-side .image img{
    position: absolute;
    bottom: 50px;
    left:-30px;
    width: 380px;
    height:380px;
}
.continer .right-side  .social-media{
    display:flex;
    position: absolute;
    top:250px;
    right:70px;
    flex-direction: column;
}
.continer .right-side  .social-media a{
    width:40px;
    height:40px;
    text-align: center;
    text-decoration: none;
    color:#fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    margin:30px 0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.continer .right-side  .social-media a .fab{
    font-size: 15px;
    line-height: 40px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}
.continer .right-side  .social-media a::after{
    content: '';
    width: 100%;
    height:100%;
    transition: 0.5s;
    
    top:-90px;
    left:0;
    position: absolute;
    background-image: linear-gradient(-45deg ,#61d4f7 ,rgba(0,0,0,0.05));
}
.continer .right-side  .social-media a:hover:after{
    top:0px;
}
.continer .right-side  .social-media a:hover .fab{
    color:#fff;
}
.continer .left-side{
    flex-basis: 50%;
}
.continer .left-side .logo{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
.continer .left-side .logo img{
    width: 50px;
}
.continer .left-side .logo h1{
    font-size: 30px;
    /*
    background-color:#fff;
    background-image: linear-gradient(to left, #61d4f7 0%,#6b51fe);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    */
    color:#0090FF;
    margin-top: 10px;
}
.continer .right-side  .logout img{
    width: 30px;
    height:30px;
    position: absolute;
    bottom:30px;
    right:75px;
}
/*fin continer right rules*/
.continer .left-side{
    flex-basis: 50%;
    position:relative;

}
.continer .left-side .main-content{
    position: absolute;
    top:150px;
    left:70px;
}
.continer .left-side .main-content h1{
    font-size: 2rem;
    font-family: poppins;
    color:#2D3E50;
    margin-left: 100px;
    margin-top: 140px;
    /*
    background-color:#0090FF;
    background-image: linear-gradient(to top, #61d4f7 0%,#6b51fe);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
   
*/
}

.continer .left-side .main-content  form{
    width: 500px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-content: space-around;
    margin-top: 20px;
}
.continer .left-side .main-content  form input{
    width: 350px;
    height:40px;
    margin:10px;
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px  8px #ccc;
    outline: none;
    padding: 5px;
    color:#707070;
}
.continer .left-side .main-content  form button{
    font-size: 1rem;
    background-image: linear-gradient(to left, #61d4f7 0%,#6b51fe);
    width: 350px;
    height:40px;
    border:none;
    color:#fff;
    cursor: pointer;
    margin:15px 10px;
    position: relative;
    transition: all 0.35s ;
    outline:none;
    border-radius: 4px;

}
.continer .left-side .main-content  form button a{
    color:#fff;
    position: relative;
    z-index: 2;
    text-decoration: none;
}
.continer .left-side .main-content  form button::after{
    content: '';
    border-radius: 4px;
    background-image: linear-gradient(to left, #61d4f7 0%,#6b51fe);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    transition: all 0.35s
}
.continer .left-side .main-content  form button:hover:after{
    width:100%;
    color:#fff;
}